.body {
  font-family: "Roboto", sans-serif;
}
.nav {
  background-color: #fa2d5c;
  height: 50px;
  font-family: "Segoe UI";
  font-weight: bolder;
  color: #ffc300;
  padding-top: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.accueil,
.contacts,
.c_contact {
  color: #ffc300;
}
.accueil {
  text-decoration: none;
  border-bottom: 4px solid #ffc300;
}

.contacts {
  padding-left: 800px;
  text-decoration: none;
}

.c_contact {
  padding-left: 260px;
  text-decoration: none;
}
.titre {
  font-size: large;
}

.head {
  background-color: rgb(78, 70, 70);
  color: white;
}

.voir {
  border: 0;
  line-height: 2;
  padding: 0 65px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: rgb(4, 142, 255);
}

.supp {
  border: 0;
  line-height: 2;
  padding: 0 45px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: rgb(255, 4, 100);
}

.a {
  background-color: #e4e4e4;
}

.b {
  background-color: #c9c7c7;
}
